// Bootstrap Overrides

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

$navbar-height:    			30px;
$navbar-padding-vertical:  	2;

$nav-link-padding: 		0 12px;
$navbar-border-radius: 	0;
$navbar-margin-bottom:  0;

@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// App

@import "~widgets/help/help.scss";
@import "~widgets/navbar/navbar.scss";

@import "~views/editor/editor.scss";
@import "~views/settings/settings.scss";
