body {
  background: #EEE;
}

pre {
  font-size: 1em;
  background: white;
}

.drop-box {
  background: #F8F8F8;
  border: 2px dashed lightblue;
  width: 100%;
  height: 21px;
  text-align: center;
  line-height: 1em;
}

.dragover {
  border: 2px dashed blue;
}

.YAMLRender {
  border:1px solid darkgray;
}

.YAMLRender svg {
  width: 100%;
  height: 100%;
}

.YAMLRender.zoom {
}

.YAMLRender.zoom svg {
  width: initial;
  height: initial;
}

.btn-group-block {
  width: 100%;
}

.btn-group-menu-block {
  width: 330px;
}

.input-group-xs {
  height: 22px !important;
  max-height: 22px !important;
}

.input-group-button-xs {
  height: 22px !important;
  line-height: 10px;
  margin: 0 !important;
  padding: 1px 3px !important;
}

.grid {
  width: 100%;
  height: 500px;
}

.grid  .ui-grid-header-cell {
  font-size:0.9em;
}

.grid .ui-grid-top-panel {
  height: 25px !important;
}

.ui-grid-cell {
  overflow: visible;
  height:100%;
}

.ui-grid-cell form,
.ui-grid-cell form input {
  height: 28px;
}

.ui-grid-cell .typeaheadcontainer {
  display: table;
  margin-right: auto;
  margin-left: auto;
  width:95%;
  height:100%;
}

.ui-grid-cell .typeaheadcontrol {
  width:100%;
  height:100%;
}
