.editor-container {
	margin: 0;
	padding: 0;
}

.ui-grid-viewport {
  overflow-anchor: none;
}

.drop-box {
  background: #F8F8F8;
  border: 2px dashed lightblue;
  width: 100%;
  height: 25px;
  text-align: center;
  line-height: 1em;
}

.dragover {
  border: 2px dashed blue;
}

.btn-group-block {
  width: 100%;
}

.btn-group-menu-block {
  width: 330px;
}

.input-group-xs {
  height: 25px !important;
  max-height: 25px !important;
}

.input-group-button-xs {
  height: 25px !important;
  line-height: 10px;
  margin: 0 !important;
  padding: 1px 3px !important;
}

.grid {
  width: 100%;
  height: 90vh !important;
}

.grid .ui-grid-header-cell {
  font-size:12px;
}

.grid .ui-grid-top-panel {
}


.ui-grid-row {
  height: 100%;
  // border:1px solid red;
}

.ui-grid-row-anchor {
  margin: 0;
  padding: 0;
}

.ui-grid-cell-contents {
  font-size:12px;
  line-height:1em;
  // border: 1px solid red;
  word-wrap: break-word;
  white-space: normal !important;
}

.ui-grid-cell {
  // height: 50px !important;
  height: 100%;
  // border: 1px solid green;
}

.ui-grid-cell .table-editor-default-cell {
  // border:1px solid yellow;
  margin: 0 !important;
  padding: 2px;
}

.ui-grid-cell form {
  // border:1px solid purple;
  width:100%;
  height:100%;
  margin: 0 !important;
  padding: 0 !important;
}

// .ui-grid-cell form input {
//   word-wrap: break-word;
//   white-space: normal !important;
//   background:5px solid cyan !important;
//   border:5px solid cyan !important;
// }

.ui-grid-cell form textarea {
  resize: none;
  width:100%;
  height:100%;
  margin: 0 !important;
  padding: 0 !important;
  word-wrap: break-word;
  white-space: normal !important;
  // border:1px solid cyan !important;
}

.ui-grid-cell .typeaheadcontainer {
  // border:1px solid red;
  margin: 0;
  padding: 0;
  resize: none;
  word-wrap: break-word;
  // display: table;
  // margin-right: auto;
  // margin-left: auto;
  // width:95%;
  // height:100%;
  // border:1px solid red;
}

.no-results {
  top:-20px;
  font-face:italic;
  font-weight:600;
  font-size:10px;
  border:1px solid lightgray;
  background:lightyellow;
  position:relative;
  z-index:5500;
  margin:1px;
  padding:1px;
}

.ui-grid-cell .typeaheadcontainer textarea {
  // margin: 0 !important;
  font-size:12px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  height: 80px;
}

// .ui-grid-cell .typeaheadcontrol {
//   width:100%;
//   height:100%;
// }

// .ui-grid-cell .form-control {
//   width:100%;
//   height:100%;
//   border:3px solid orange;
// }

