#content {
}

.editor-container {
	margin: 0;
	padding: 0;
}

.ui-grid-viewport {
  overflow-anchor: none;
}

.drop-box {
  background: #F8F8F8;
  border: 2px dashed lightblue;
  width: 100%;
  height: 25px;
  text-align: center;
  line-height: 1em;
}

.dragover {
  border: 2px dashed blue;
}

.btn-group-block {
  width: 100%;
}

.btn-group-menu-block {
  width: 330px;
}

.input-group-xs {
  height: 25px !important;
  max-height: 25px !important;
}

.input-group-button-xs {
  height: 25px !important;
  line-height: 10px;
  margin: 0 !important;
  padding: 1px 3px !important;
}


.grid {
  width: 100%;
  height: 100%;
}


// @media (min-width: 1024px) {
//   .grid {
//     width: 772px;
//   }
// }

// @media (min-width: 1280px) {
//   .grid {
//     width: 972px;
//   }
// }

$header-height: 140px;
$grid-header-height: 30px;
$row-height: 85px;

$rows1: $row-height * 5;
$break1: $header-height + $grid-header-height + $rows1;
$rows2: $row-height * 7;
$break2: $header-height + $grid-header-height + $rows2;
$rows3: $row-height * 9;
$break3: $header-height + $grid-header-height + $rows3;
$rows4: $row-height * 11;
$break4: $header-height + $grid-header-height + $rows4;
$rows5: $row-height * 13;
$break5: $header-height + $grid-header-height + $rows5;

@media (min-height: $break1) {
  .grid {
    height: $rows1 !important;
    // border:5px solid red !important;
  }
}

@media (min-height: $break2) {
  .grid {
    height: $rows2 !important;
    // border:5px solid green !important;
  }
}

@media (min-height: $break3) {
  .grid {
    height: $rows3 !important;
    // border:5px solid purple !important;
  }
}


@media (min-height: $break4) {
  .grid {
    height: $rows4 !important;
    // border:5px solid cyan !important;
  }
}

@media (min-height: $break5) {
  .grid {
    height: $rows5 !important;
    // border:5px solid orange !important;
  }
}



.grid .ui-grid-header-cell {
  font-size:12px;
}

.grid .ui-grid-top-panel {
}

#grid1.ui-grid {
  transform: unset !important;
}

.ui-grid-row {
  height: 100%;
}

.ui-grid-row-anchor {
  margin: 0;
  padding: 0;
}

.ui-grid-cell-contents {
  line-height:1em;
  word-wrap: break-word;
  white-space: normal !important;
}

.ui-grid-cell {
  height: 100%;
}

.ui-grid-cell .table-editor-default-cell {
  font-size:14px;
  font-weight: 500;
  margin: 0 !important;
  padding: 1px !important;
}


.ui-grid-cell form {
  border:none;
  width:100%;
  height:100%;
  margin: 0 !important;
  padding: 0 !important;
}

.ui-grid-cell form textarea {
  border:none;
  resize: none;
  width:100%;
  height: 74px;
  margin: 1px !important;
  padding: 0 !important;
  word-wrap: break-word;
  white-space: normal !important;
  font-size:14px;
  font-weight: 500;
}

.ui-grid-cell div.typeaheadcontainer {
  margin: 0;
  padding: 0;
  resize: none;
  word-wrap: break-word;
}


.no-results {
  top:-20px;
  font-face:italic;
  font-weight:600;
  font-size:10px;
  border:1px solid lightgray;
  background:lightyellow;
  position:relative;
  z-index:55;
  margin:1px;
  padding:1px;
}

button.btn.btn-compact {
  margin:0;
  padding:0;
}


.ui-grid-cell .typeaheadcontrol {
}

#typeahead-anchor {
}

.typeahead-is-open {
  // border:2px solid red !important;
  position: fixed !important;
  box-shadow: 2px #888888;
  top: 50px !important;
  height: 40px !important;
  left: 5% !important;
  width:90% !important;
  font-weight: 600;
  box-shadow: 10px 10px 5px grey;
}

.typeahead-is-closed {
  border:2px solid lightblue !important;
  height: 72px !important;
}

.custom-popup-wrapper {
  position: absolute;
  top: 90px;
  left: 5% !important;
  width:90% !important;
  z-index: 10;
  display: block;
  background-color: #f9f9f9;
  box-shadow: 10px 10px 5px grey;
  border:2px solid lightgray;
}

.custom-popup-wrapper > .message {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  color: #868686;
}

.custom-popup-wrapper > .dropdown-menu {
  position: static;
  float: none;
  display: block;
  min-width: 160px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.row.detail-header {
  height:50px;
  padding:0;
  margin:1px;
  border:2px solid lightgray;
  border-radius:5px;
  background:ivory;
}

.zero-z {
  z-index: 0 !important;
}