<div class="editor-container container-fluid">
  <div
    class="row"
    id="typeahead-anchor">
  </div>

  <div
    class="row"
    ng-if="editorCtrl.session.parsedConfig.patternless">
    <div class="col-xs-12">
      <div style="height:25px;">&nbsp;</div>
    </div>
  </div>
  <div
    class="row"
    ng-if="!editorCtrl.session.parsedConfig.patternless">
    <div class="col-xs-3">
      <div class="btn-group btn-group-block" uib-dropdown keyboard-nav>
        <button
          id="simple-btn-keyboard-nav"
          type="button"
          class="btn btn-xs btn-default btn-block"
          uib-dropdown-toggle>
            Patterns <span class="caret"></span>
        </button>
        <ul
          class="dropdown-menu btn-group-menu-block"
          uib-dropdown-menu
          role="menu"
          aria-labelledby="simple-btn-keyboard-nav">

          <li ng-repeat="e in editorCtrl.examplesPattern" role="menuitem">
            <a ng-click="editorCtrl.loadSourcePatternItem(e.file, e.title, e.url)" href="">
              {{e.title}}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="input-group input-group-sm">
        <input
          ng-model="editorCtrl.session.patternURL"
          type="text"
          class="form-control input-group-xs zero-z"
          placeholder="Enter a URL to a YAML Pattern file"
          aria-describedby="import-url">

        <span class="input-group-btn">
          <button
            type="button"
            ng-disabled="editorCtrl.session.patternURL.length === 0"
            class="btn btn-success btn-xs btn-block input-group-button-xs zero-z"
            ng-click="editorCtrl.loadURLPattern(editorCtrl.session.patternURL)">
            Load
          </button>
        </span>
      </div>
    </div>
    <div class="col-xs-3">
      <div
        ngf-drop
        ngf-select
        ng-model="editorCtrl.session.filePattern"
        class="drop-box"
        ngf-drag-over-class="'dragover'"
        ngf-multiple="false"
        ngf-allow-dir="false"
        accept=".yaml,.YAML"
        ngf-pattern="'.yaml,.YAML'">
        <i style="font-size:0.8em;">Select/Drag Pattern file</i></sm>
      </div>
      <div ngf-no-file-drop>
        File Drag/Drop is not supported for this browser
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <div class="btn-group btn-group-block" uib-dropdown keyboard-nav>
        <button
          id="simple-btn-keyboard-nav"
          type="button"
          class="btn btn-xs btn-default btn-block"
          uib-dropdown-toggle>
            XSVs <span class="caret"></span>
        </button>
        <ul
          class="dropdown-menu btn-group-menu-block"
          uib-dropdown-menu
          role="menu"
          aria-labelledby="simple-btn-keyboard-nav">

          <li role="menuitem">
            <a ng-click="editorCtrl.loadNewXSV()" href="">
              New Table
            </a>
          </li>

          <li ng-repeat="e in editorCtrl.examplesXSV" role="menuitem">
            <a ng-click="editorCtrl.loadSourceXSVItem(e.file, e.title, e.url)" href="">
              {{e.title}}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="input-group input-group-sm">
        <input
          ng-model="editorCtrl.session.XSVURL"
          type="text"
          class="form-control input-group-xs zero-z"
          placeholder="Enter a URL to a CSV/TSV file"
          aria-describedby="import-url">

        <span class="input-group-btn">
          <button
            type="button"
            ng-disabled="editorCtrl.session.XSVURL.length === 0"
            class="btn btn-success btn-xs btn-block input-group-button-xs zero-z"
            ng-click="editorCtrl.loadURLXSV(editorCtrl.session.XSVURL)">
            Load
          </button>
        </span>
      </div>
    </div>
    <div class="col-xs-3">
      <div
        ngf-drop
        ngf-select
        ng-model="editorCtrl.session.fileXSV"
        class="drop-box"
        ngf-drag-over-class="'dragover'"
        ngf-multiple="false"
        ngf-allow-dir="false"
        accept=".csv,.CSV,.tsv,.TSV,.tab,.TAB"
        ngf-pattern="'.csv,.CSV,.tsv,.TSV,.tab,.TAB'">
        <i style="font-size:0.8em;">Select/Drag XSV file</i></sm>
      </div>
      <div ngf-no-file-drop>
        File Drag/Drop is not supported for this browser
      </div>
    </div>
  </div>


  <div
    class="row detail-header"
    ng-if="editorCtrl.session.parsedConfig.patternless || editorCtrl.session.parsedPattern || editorCtrl.session.parsedXSV">
    <h6>{{editorCtrl.getRowTitle()}}
      <a
        style="font-size:12px;line-height:1em;"
        href="{{editorCtrl.getCellURL()}}"
        target="_blank"
        title="Cell: {{editorCtrl.getCellTitle()}}">
        {{editorCtrl.getCellDetails()}}
      </a>
    </h6>
    <h6>{{editorCtrl.getRowDetails()}}</h6>
  </div>

  <div class="row" ng-if="editorCtrl.session.errorMessagePattern">
    <div class="col-xs-12 pre-scrollable">
      <pre><sm>{{editorCtrl.session.errorMessagePattern | json}}</sm></pre>
    </div>
  </div>
  <div class="row" ng-if="editorCtrl.session.errorMessageXSV">
    <div class="col-xs-12">
      <pre>{{editorCtrl.session.errorMessageXSV}}</pre>
    </div>
  </div>

<!--
  <div
    ng-if="editorCtrl.$scope.showTypeahead"
    class="typeaheadcontainer">
    <button
      class="btn btn-xs"
      ng-click="editorCtrl.$scope.showTypeahead=false"
      style="float:right;">
      <i class="fa fa-compass fa-fw"></i>
    <button>
  </div>
 -->

  <div
    class="row"
    xng-hide="!editorCtrl.session.parsedXSV">
    <div class="col-xs-12">
      <div
        id="grid1"
        ui-grid="editorCtrl.gridOptions"
        ui-grid-edit
        ui-grid-cellNav
        ui-grid-resize-columns
        ui-grid-auto-resize
        class="grid"
        style="margin:0;padding:0;">
      </div>
    </div>
  </div>

  <div id="bottom_of_page" style="height:20px;"></div>
</div>

<script type="text/ng-template" id="cellStateTemplate">
  <div class="ui-grid-cell-contents table-editor-default-cell">
    {{grid.getCellValue(row, col)}}
  </div>
</script>

<script type="text/ng-template" id="cellStateReadonlyTemplate">
  <div class="ui-grid-cell-contents" >
    <i>{{grid.getCellValue(row, col)}}</i>
  </div>
</script>

<script type="text/ng-template" id="customTemplate.html">
  <a>
<!--
    <span style="display:inline-block;min-width:320px;width:320px;font-size:0.7em;font-style:bold;" ng-bind-html="match.model | json"></span>
 -->
    <span style="display:inline-block;width:150px;font-size:0.9em;font-style:italic;" ng-bind-html="match.model.id | uibTypeaheadHighlight:query"></span>
    <span ng-bind-html="match.model.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>


<script type="text/ng-template" id="customPopupTemplate.html">
  <div class="custom-popup-wrapper"
     xng-style="{top: position().top+'px', left: position().left+'px'}"
     ng-show="isOpen() && !moveInProgress"
     aria-hidden="{{!isOpen()}}">
    <ul class="dropdown-menu" role="listbox">
      <li class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
        ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
        <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
      </li>
    </ul>
  </div>
</script>


<script type="text/ng-template" id="cellStateAutocompleteTemplate">
  <div class="typeaheadcontainer">
    <div
      style="position:absolute;z-index:100;margin-left:4px;"
      ng-show="loadingItems">
      <i class="fa fa-spinner fa-spin fa-fw"></i>
    </div>
    <form
      name="inputForm">
    <textarea
      type="text"
      ng-keydown="grid.appScope.textareaKeydown($event)"
      ng-model="MODEL_COL_FIELD"
      ng-trim="false"
      show-list
      typeahead-popup-template-url="customPopupTemplate.html"
      name="inputForm"
      xui-grid-editor
      uib-typeahead="term as term.label for term in grid.appScope.getTerm(row.entity, col.colDef.name, $viewValue)"
      typeahead-append-to="grid.appScope.typeaheadAnchor"
      typeahead-focus-on-select="false"
      typeahead-select-on-blur="false"
      typeahead-loading="loadingItems"
      typeahead-no-results="grid.appScope.noResults[row.uid + '_' + col.uid]"
      typeahead-template-url="customTemplate.html"
      typeahead-editable="false"
      typeahead-min-length=0
      typeahead-is-open="grid.appScope.isOpenX[row.uid + '_' + col.uid]"
      typeahead-on-select="grid.appScope.termSelected($item, $model, $label, $event)"
      class="typeaheadcontrol"
      ng-class="grid.appScope.isOpenX[row.uid + '_' + col.uid] ? 'typeahead-is-open' : 'typeahead-is-closed'">
    </textarea>
    </form>
    <div class="no-results"
      xng-init="grid.appScope.noResults[row.uid + '_' + col.uid] = true"
      ng-show="grid.appScope.noResults[row.uid + '_' + col.uid]">
      No Results Found
    </div>
  </div>
</script>

<script type="text/ng-template" id="cellStateEditableTemplate">
  <div
    class="ui-grid-cell-contents table-editor-default-cell">
    <form
      name="inputForm">
      <textarea
        type="INPUT_TYPE"
        ng-class="'colt' + col.uid"
        ui-grid-editor
        ng-model="MODEL_COL_FIELD">
      </textarea>
    </form>
  </div>
</script>


<script type="text/ng-template" id="cellStateBooleanTemplate">
  <div
    class="ui-grid-cell-contents table-editor-default-cell">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        ng-model="MODEL_COL_FIELD"
        name="NOT"
        ng-true-value="'NOT'"
        ng-false-value="''"
        id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        NOT
      </label>
    </div>
  </div>
</script>


<script type="text/ng-template" id="TERowTemplate">
  <div
    ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid"
    ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'"
    class="ui-grid-cell"
    ng-class="{ 'ui-grid-row-header-cell': col.isRowHeader }"
    role="{{col.isRowHeader ? 'rowheader' : 'gridcell'}}"
    ui-grid-cell
    id="scroll_anchor_{{row.uid}}_{{col.uid}}">
  </div>
</script>

<script type="text/ng-template" id="uigridActionHeader">
  <button
    type="button"
    title="Add Association"
    class="btn btn-primary btn-xs xbtn-compact"
    ng-click="grid.appScope.editorCtrl.addRow()">
    <i class="fa fa-plus fa-fw"></i>
  </button>
</script>

<script type="text/ng-template" id="uigridActionCell">
  <div
    class="ui-grid-cell-contents"
    title="TOOLTIP">
    <div
      class="text-center action-row">
      <button
        type="button"
        title="Delete Association"
        class="btn btn-default btn-xs btn-compact"
        ng-click="grid.appScope.editorCtrl.deleteRow(row.entity)">
        <i class="fa fa-trash-o fa-fw"></i>
      </button>
    </div>
  </div>
</script>


